<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Day Security</title>
    <meta name="description" content="Zero Day Security - Protecting your digital future with cutting-edge cybersecurity solutions.">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="/">
                <h1 class="title">Zero Day Security</h1>
                <img src="/static/logo.png" alt="Zero Day Security Logo" class="logo">
            </a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/team">Our Team</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
    </header>

    <section id="services">
        <div class="container">

            <!-- Insurance Plans Section -->
            <div class="service-category" data-aos="fade-up" data-aos-delay="200">
                <h1 class="serviceTitles">Insurance Plans</h1>
                <div class="service-grid">
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Incident Response and Recoveryh">Incident Response and Recovery</button>
                        <ul>
                            <li>24/7 rapid response to cybersecurity breaches</li>
                            <li>Containment, investigation, and recovery services</li>
                            <li>Post-incident reporting and recommendations</li>
                        </ul>
                    </div>
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Threat Intelligence and Monitoring">Threat Intelligence and Monitoring</button>
                        <ul>
                            <li>Real-time threat detection and analysis</li>
                            <li>Monitoring for malicious activities and anomalies</li>
                        </ul>
                    </div>
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Backup and Disaster Recovery Solutions">Backup and Disaster Recovery Solutions </button>
                        <ul>
                            <li>Design and implementation of secure backup systems</li>
                            <li>Recovery planning and testing for business continuity</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Security Solutions Section -->
            <div class="service-category" data-aos="fade-up" data-aos-delay="200">
                <h1 lass="serviceTitles">Security Solutions</h1>
                <div class="service-grid">
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Vulnerability Assessment">Vulnerability Assessment</button>
                        <ul>
                            <li>Comprehensive scanning for vulnerabilities in web applications, networks, and systems</li>
                            <li>Detailed report of findings and actionable recommendations</li>
                        </ul>
                    </div>
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Penetration Testing">Penetration Testing</button>
                        <ul>
                            <li>Simulated attacks to identify exploitable weaknesses</li>
                            <li>Custom-tailored testing for:
                                <ul>
                                    <li>Web Applications</li>
                                    <li>Mobile Applications</li>
                                    <li>Network Infrastructure</li>
                                    <li>API Security</li>
                                    <li>Wireless Networks</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Malware Analysis and Removal">Malware Analysis and Removal</button>
                        <ul>
                            <li>Identification and removal of malicious software affecting your systems</li>
                            <li>Implementation of preventive measures to stop future infections</li>
                        </ul>
                    </div>
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Web Application Security">Web Application Security</button>
                        <ul>
                            <li>Detection and mitigation of common vulnerabilities, including:
                                <ul>
                                    <li>SQL Injection</li>
                                    <li>Cross-Site Scripting (XSS)</li>
                                    <li>Cross-Site Request Forgery (CSRF)</li>
                                    <li>Broken Authentication</li>
                                </ul>
                            </li>
                            <li>Ongoing monitoring and maintenance</li>
                        </ul>
                    </div>
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Network Security">Network Security </button>
                        <ul>
                            <li>Design and implementation of secure network architectures</li>
                            <li>Firewall configuration and intrusion prevention system setup</li>
                            <li>Continuous network monitoring</li>
                        </ul>
                    </div>
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Data Protection and Encryption">Data Protection and Encryption</button>
                        <ul>
                            <li>Secure storage and transmission of sensitive data</li>
                            <li>Implementation of encryption technologies (SSL/TLS, VPNs)</li>
                        </ul>
                    </div>
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Security Policy Development">Security Policy Development</button>
                        <ul>
                            <li>Assistance in crafting organization-wide security policies</li>
                            <li>Employee training on security awareness and best practices</li>
                        </ul>
                    </div>
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Third-Party Risk Management">Third-Party Risk Management</button>
                        <ul>
                            <li>Assess security risks posed by vendors and partners</li>
                            <li>Recommendations to mitigate risks in your supply chain</li>
                        </ul>
                    </div>
                    <div class="container service-box" data-aos="fade-up" data-aos-delay="200">
                        <button class="service-button" type="button" data-service="Digital Forensics">Digital Forensics</button>
                        <ul>
                            <li>Detailed forensic analysis of cyber incidents</li>
                            <li>Evidence gathering for legal or regulatory purposes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Training Section -->
            <div class="service-category" data-aos="fade-up" data-aos-delay="200">
                <h1 class="serviceTitles">Training</h1>
                <div class="service-grid">
                    <div class="container service-box" data-aos="fade-up">
                        <button class="service-button" type="button" data-service="Threat and Social Engineering Prevention">Threat and Social Engineering Prevention</button>
                        <ul>
                            <li>Evaluate resilience against a variety of threats such as social engineering attacks</li>
                            <li>Train prevention methods against attacks including phishing, pretexting, and onsite security assessments</li>
                            <li>How to stay safe online</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2025 Zero Day Security. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000,
            once: true
        });
    </script>
</body>
</html>