<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zero Day Security</title>
    <meta name="description" content="Zero Day Security - Protecting your digital future with cutting-edge cybersecurity solutions.">
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="/">
                <h1 class="title">Zero Day Security</h1>
                <img src="/static/logo.png" alt="Zero Day Security Logo" class="logo">
            </a>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/team">Our Team</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
    </header>


    <section id="team">
        <div class="container">
            <h1 data-aos="fade-up" class="ourTeam">Our Owners</h1>
            <div class="team-grid">
                <div class="team-member" data-aos="fade-right">
                    <img src="/static/team/team1.jpg">
                    <h3>Landon Williams</h3>
                    <p>Co-Owner & CEO</p>
                </div>
                <div class="team-member" data-aos="fade-left" data-aos-delay="200">
                    <img src="/static/team/team2.jpg">
                    <h3>Avremi Freeman</h3>
                    <p>Co-Owner & CTO</p>
                </div>
            </div>
        </div>
        <div class="container">
            <h1 data-aos="fade-up" class="ourTeam">Our Team</h1>
            <div class="team-grid">
                <div class="team-member" data-aos="fade-right">
                    <img src="/static/team/market.jpg">
                    <p>Laura LeAnne</p>
                    <h3>Marketing</h3>
                    <p>A Team of Elite Marketers Dedicated to Driving Your Company's Growth.</p>
                </div>
                <div class="team-member" data-aos="fade-left" data-aos-delay="200">
                    <img src="/static/team/cyber.jpg">
                    <p>Brent Robinson</p>
                    <h3>Cyber Security</h3>
                    <p>Team of Highly Trained Cyber Secuirty Proffesinals here to Solve Your Cyber Needs</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2025 Zero Day Security. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000,
            once: true
        });
    </script>
</body>
</html>